body {
  margin: 0 auto;
  background-color: rgb(45, 45, 51);
  font-family: "Roboto", sans-serif;
}
button {
  border-style: solid;
  border: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.button {
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  height: 40px;
  background-color: rgb(42, 63, 222);
}
